.nav-site{
 width:100%;
 position:relative;
  &.open{
.mobile-modal-elements{
 transform: translateY(0);

}

}


  .menu-mobile{
width:100%;

 .ul-logo{
  width:100%;
  margin:0;
  padding: var(--padding-large);
background-image:var(--bg-gradient);
  display:flex;
justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  z-index:3;
 }


}
    .mobile-modal-elements{
      position:absolute;
      top:100%;
      left:0;

      background-color:var(--color-white);
      width:100%;
      display: flex;
      justify-content:center;
      flex-direction:column;
      text-align:center;
      margin:90px 0;
      padding:0;
      transform:translateY(-100%);
      transition:.3s transform ease-out;
      li{
        border-bottom:5px var(--color-black) solid;
        font-size: var(--fz-h2);
        display:inline-block;
        padding:var(--padding-thin);
        margin-top:var(--margin-large);
      }

 }
.mobile-modal{
  position:fixed;
width:100vw;



}
li{
list-style-type: none;
}
.menu-logo{
 display:flex;
align-items:center;
color:var(--color-white);
}
.material-icons {
 font-size: var(--fz-mobile);
 color: var(--color-white);
 margin-right: var(--margin-thin);

}

}





.nav-primary{
 width:100%;



.material-icons {
margin:0;
}

ul{
display:flex;
 justify-content:center;
 align-items:center;
 width:100%;
 padding:var(--padding-large);
 background-image:var(--bg-gradient);
margin: 0;

 a{
  display: flex;
 align-items: center;
  margin-left: var(--padding-large);
 }
}




}