:root{

  // Grosseur des textes

  --fz-normal: 1.125rem; //18px

  // Grosseur des titres

  --fz-h1:1.5rem;
  --fz-mobile:2.8rem;
  --fz-h2:3rem;
  --fz-h3:8rem;
  --fz-h4:1.4rem;
  --fz-h5:1.6rem;
  --fz-h6:1.8rem;

  //poids des polices
  --fw-black:900;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-normal: 400;


  // Hauteur de ligne
  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;

//font-family

  --ff-normal: 'Montserrat', sans-serif;
  --ff-title: 'Big Shoulders Display', cursive;


}