:root{

  // Grosseur des textes

  --fz-normal: 1.125rem;  //18px

  // Grosseur des titres

--fz-h1:1.5rem;
  --fz-h2:8rem;
  --fz-h3:1.2rem;



  // Hauteur de ligne
  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;




}