a{
  text-decoration:none;
&:link{
  color:var(--color-link);
  text-decoration:none;
}

&:visited{
  color: var(--color-link-visited);
}

&:hover{
  color: var(--color-link-hover);

}

&:active{
  color: var(--color-link-active);

}

&:focus{
  color: var(--color-link-focus);

}
}